nav {
  display: flex;
  align-items: center;
  min-height: 50px;
  background-color: royalblue;
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    li {
      color: white;
    }
  }
}
